h1{
  font-size: 65px;
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  font-weight: 800;
}

h2{
  font-size: 40px;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 600;
}

.roster-names{
  font-size: 40px;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 400;
}

.top .row{
  margin: 0px;
  max-width: none;
}

ul{
  list-style-type: none;
  border: none;
}

#graphic-image {
	height: 722px;
	width: 970px;
	position: absolute;
	margin: auto;
}

#container {
	position: relative;
	height: 722px;
	width: 970px;
}

#player1 {
/*	z-index: 50;*/
	position: absolute;
	left: 150px;
	top: 450px;
	color: black;
}

#player2 {
/*	z-index: 50;*/
	position: absolute;
	left: 300px;
	top: 300px;
	color: black;
}

.test {
	background-color: black;
	opacity: 0.5;
}