html{
	background-image: url("../img/bg.jpg");
}

body {
	background-color: white;
}

h1{
  font-size: 5vmax;
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  font-weight: 800;
}

h2{
  font-size: 1.4vmax;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 600;
}

.roster-names{
  font-size: 40px;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 400;
}

.top .row{
  margin: 0px;
  max-width: none;
}

ul{
  list-style-type: none;
  border: none;
}

#img-container {
	position: relative;
	height: 100%;
	width: 100%;
	padding: 2% 21%;
/*
	-webkit-box-shadow:
     inset 0 0 50px #000,
                inset 0 0 50px #000,
                inset 0 0 50px #000;

     -moz-box-shadow:
     inset 0 0 50px #000,
                inset 0 0 50px #000,
                inset 0 0 50px #000;

          box-shadow:
     inset 0 0 50px #000,
                inset 0 0 50px #000,
                inset 0 0 50px #000;
	*/
	margin-bottom: 5%;
}


#graphic-image {

}

#third-base {
	position: absolute;
	left: 25%;
	top: 66%;
	color: blue;
}

#shortstop {
	position: absolute;
	left: 35%;
	top: 56%;
	color: blue;
}

#second-base {
	position: absolute;
	left: 58%;
	top: 56%;
	color: blue;
}

#first-base {
	position: absolute;
	left: 65%;
	top: 66%;
	color: blue;
}

#catcher {
	position: absolute;
	left: 45%;
	top: 90%;
	color: blue;
}

#left-field {
	position: absolute;
	left: 12%;
	top: 35%;
	color: blue;
}

#center-field {
	position: absolute;
	left: 45%;
	top: 25%;
	color: blue;
}

#right-field {
	position: absolute;
	left: 75%;
	top: 35%;
	color: blue;
}

#bench-container {
	display: inline-block;
	margin: -10em 0 10em 3em;
/*	margin-top: -5em;
	margin-bottom: 5em;*/
}

#benchwarmer {
	color: black;
	display: inline-flex;
	float: left;
	margin: 0;
	padding: 0 15px 0 0;
}

/* CODE THAT WE DONT NEED ANYMORE :(
#img-container a:hover{
	box-shadow: 0 5px 45px #000;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	border:1px solid #;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}
#bench-container a:hover{
	 box-shadow: 0 5px 45px #000;
	-webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
	border:1px solid #;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}

.img-size{
	height: 88px;
	width: 88px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}*/

.top {
  background-color: #fff;
}

.top-margin{
	margin-top: 2.5% !important;
}

.content-margin{
	margin-top: 10%;
}

.parallax-image-background{
	height: 30em;
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.parallax-image-background1{
	height: 30em;
	width: 100%%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.center-text{
	text-align: center;
}

.center-image{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.content{
	padding: 0px 10%;
}

.db-image-caption{
	font-size: .75em;
	opacity: .8;
}
