body {
	background-color: white;
}

h1{
  font-size: 5vmax;
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  font-weight: 800;
}

h2{
  font-size: 2.4vmax;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 600;
}

.roster-names{
  font-size: 40px;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 400;
}

.top .row{
  margin: 0px;
  max-width: none;
}

ul{
  list-style-type: none;
  border: none;
}

#img-container {
	position: relative;
/*	height: 722px;
	width: 970px;*/
/*	max-width: 100%;
	max-height: 100%;*/
/*	height: 47em;
	width: 67em;*/
	max-height: 47em;
	max-width: 67em;
	height: 85vh;
	width: 70vw;
	margin: auto;
	display: block;
}

#graphic-image {
	max-height: 100%;
	max-width: 100%;
	height: 100vh;
	width: 100vw;
	position: absolute;
}

#third-base {
	position: absolute;
	left: 22%;
	top: 66%;
	color: black;
}

#shortstop {
	position: absolute;
	left: 30%;
	top: 56%;
	color: black;
}

#second-base {
	position: absolute;
	left: 53%;
	top: 56%;
	color: black;
}

#first-base {
	position: absolute;
	left: 63%;
	top: 66%;
	color: black;
}

#catcher {
	position: absolute;
	left: 40%;
	top: 85%;
	color: black;
}

#left-field {
	position: absolute;
	left: 12%;
	top: 35%;
	color: black;
}

#center-field {
	position: absolute;
	left: 40%;
	top: 25%;
	color: black;
}

#right-field {
	position: absolute;
	left: 70%;
	top: 35%;
	color: black;
}







